<!-- start:: Footer -->

<footer class="footer">
    <div class="footer__top">

        <div class="container-footer">
            <div class="logo">
                <img src="/images/mondelez-logo.png" alt="logo_mdllz" width="244" height="58">
            </div>
            <p>
                ©2022 Mondelēz Romania. Toate drepturile rezervate.
            </p>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container-footer">
            <ul>
                <li>
                    <a href="{{ path('rules') }}">Regulament</a>
                </li>
                <li>
                    <a href="https://eu.mondelezinternational.com/privacy-notice?sc_lang=ro-RO&siteId=1rr3v5%2fW2kzN7pR4N7wYQKnvH6R95A55gUp%2bjoISsPo%3d"
                       target="_blank">Politica de confidentialities</a>
                </li>
                <li>
                    <a href="{{ path('cookies-policy') }}">Politica de cookie-uri</a>
                </li>
                <li>
                    <a href="{{ path('terms-and-conditions') }}">Termeni de utilizare</a>
                </li>
                <li>
                    <a href="https://www.anpc.ro/" target="_blank">Protecția consumatorilor - ANPC</a>
                </li>
                <li>
                    <a href="https://contactus.mdlzapps.com/form?siteId=1rr3v5%2fW2kzN7pR4N7wYQKnvH6R95A55gUp%2bjoISsPo%3d" target="_blank">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<!-- end:: Footer -->