<header>
    <div class="header-section">
        <div class="logo-section">
            <div class="logos">

                <a href="/" class="g-header__logo">
                    <img src="images/common/header/7days.png" alt="Logo" width="75" height="60">
                    <img src="images/common/header/oreo.png" alt="Logo" width="75" height="60">
                    <img src="images/common/header/milka.png" alt="Logo" width="75" height="60">
                    <img src="images/common/header/belvita.png" alt="Logo" width="75" height="60">

                </a>

            </div>
        </div>
        <div class="container-header">

            <!-- start:: menu toggle -->
            <div class="menu-toggle">
                <div class="hamburger hamburger--spin">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
            <!-- end:: menu toggle -->

            <div class="navigation">
                <ul>
                    <li>
                        <a href="{{ path('main') }}" data-category="Meniu" data-label="Click - Acasa">acasă</a>
                    </li>
                    <li>
                        <a href="{{ path('how-to-win') }}" data-category="Meniu" data-label="Click - Cum poti castiga">cum poți
                            câștiga</a>
                    </li>
                    <li>
                        <a href="{{ path('register') }}" data-category="Meniu" data-label="Click - Inscrie-te">înscrie-te</a>
                    </li>

                    <li>
                        <a href="{{ path('winners') }}" data-category="Meniu" data-label="Click - Castigatori">câștigători</a>
                    </li>
                    <li>
                        <a href="https://contactus.mdlzapps.com/form?siteId=1rr3v5%2fW2kzN7pR4N7wYQKnvH6R95A55gUp%2bjoISsPo%3d"
                           target="_blank">contact</a>
                    </li>
                </ul>
            </div>
            <!-- start:: main menu -->
            <div class="main-nav">
                <div class="top-menu">
                    <nav>
                        <ul>
                            <li><a href="#">ACASĂ</a></li>
                            <li><a href="#">CUM POȚI CÂȘTIGA</a></li>
                            <li><a href="#">ÎNSCRIE-TE</a></li>
                            <li><a href="#">CÂȘTIGĂTORI</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>


            </div>

            <!-- end:: main menu -->
        </div>
    </div>
</header>