{% extends 'layout.html.twig' %}

{% block title %}Snackfest | Termenii si conditiile siteului{% endblock %}

    {% block body %}
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFBTBXT"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->



        <!-- start:: Header -->

        {% include 'reusable_templates/header.html.twig' %}

        <!-- end:: Header -->

        <main class="legal terms">

            <section class="legal__content">
                <div class="inner">
                    <h1>Termeni și Condiții</h1>
                    <h3>CONSIMȚĂMÂNTUL DVS.</h3>
                    <p>Acest website (“Site-ul”) se află în proprietatea și uzul Mondelez Europe GmbH și Mondelez Europe
                        Services Gmbh – Sucursala România, ambele companii afiliate ale Mondelēz International, Inc. Site-ul
                        este disponibil utilizatorilor cu scopul de a fi informați. Accesând și utilizând Site-ul, vă
                        exprimați
                        acordul asupra Termenilor și Condițiilor de Utilizare și a Politicii de Protecție a Datelor. Dacă nu
                        sunteți de acord cu acestea, nu vă recomandăm să utilizați Site-ul.</p>

                    <h3>UTILIZAREA SITE-ULUI</h3>
                    <p>Cu excepția cazurilor expres prevăzute, Site-ul este destinat uzului dvs. personal și non-comercial.
                        Nu
                        aveți permisiunea de a modifica, copia, distribui, permite accesul, transmite, afișa, utiliza,
                        reproduce, publica, licenția, crea opere derivate, transfera sau vinde orice informație, program,
                        produs
                        sau serviciu obținute de pe Site. Puteți afișa sau copia electronic, descărca sau printa porțiuni
                        din
                        materialele de pe Site pentru uzul dvs. personal, sub condiția să nu modificați sau ștergeți orice
                        însemn sau marcă a proprietății intelectuale. Orice altă utilizare a materialelor de pe Site,
                        inclusiv
                        dar fără a se limita la modificarea, reproducerea, distribuirea, republicarea, afișarea sau
                        transmiterea
                        conținutului Site-ului, fără consimțământul nostru anterior, este interzisă.</p>
                    <p>Orice material descărcăt, inclusiv, dar fără a se limita la, software, fișiere, grafică, date sau
                        orice
                        alt conținut, este proprietatea noastră sau a celor care au înregistrat drepturile de proprietate
                        intelectuală. Atunci când descărcați aceste materiale, ele sunt utilizabile de către dvs. sunt o
                        licență
                        acordată de noi care este revocabilă. Toate drepturile de proprietate intelectuală asupra
                        materialelor
                        sunt rezervate și ne aparțin. Nu aveți permisiunea de a redistribui sau vinde materialele și nici nu
                        puteți utiliza părți ale acestora pentru a le converti sau asambla în alt mod. Nu aveți dreptul de a
                        crea un hyperlink către niciun alt website.</p>

                    <h3>DREPTURI DE PROPRIETATE INTELECTUALĂ</h3>
                    <p>Toate materialele asupra cărora avem drepturi de proprietate intelectuală, utilizate pe acest Site ne
                        revin sau aparțin altor titulari care ne-au acordat un drept de utilizare.</p>
                    <p>În cazul în care brevetele și mărcile noastre sunt utilizate, modificate sau copiate fără acordul
                        nostru prealabil vom lua toate măsurile legale necesare pentru apărarea lor.</p>


                    <h3>MATERIALE TRANSMISE DE DVS.</h3>
                    <p>Sunteți de acord că sunteți responsabil pentru orice materiale pe care ni le transmiteți, aceasta
                        incluzând legalitatea, relevanța, originalitatea și drepturile de proprietate intelectuală
                        ale/asupra
                        acestor materiale. Nu sunteți autorizat să transmiteți, distribuiți sau publicați prin intermediul
                        Site-ului conținut licențios, defăimator, obscen, conținând amenințări, intrusiv în viața privată,
                        abuziv, ilegal sau îndoielnic, de orice manieră, sau care poate constitui sau instiga la
                        infracțiuni,
                        încalcă drepturile unei terțe părți sau cauza prejudicii, încalcă legea sau afecta imaginea
                        companiei
                        noastre. Nu aveți dreptul de a transmite conținut comercial prin intermediul Site-ului.</p>
                    <p>Cu excepția datelor personale cu funcție de identificare colectate prin Site, orice alte comentarii,
                        sugestii, idei, grafică sau alte informații comunicate către noi prin intermediul Site-ului vor
                        deveni
                        proprietatea noastră, chiar dacă Termenii și Condițiile sunt expirate/reziliate. Noi și
                        împuterniciții
                        noștri vom fi liberi să copiem, dezvăluim, distribuim, încorporăm sau utilizăm în orice fel
                        materialele
                        transmise către noi, în orice scop, comercial sau non-comercial, fără nicio obligație de a vă
                        compensa
                        pe dvs. sau terțe părți pentru materiale.</p>


                    <h3>DISCLAIMER</h3>
                    <p>Nu ne asumăm responsabilitatea pentru acuratețea sau integritatea conținutului de pe acest Site.
                        Acest
                        Site și materialele, informațiile, serviciile și produsele din acest Site, inclusiv, dar fără a se
                        limita la text, grafică și link-uri, sunt puse la dispoziția dvs. ca atare, fără nicio garanție
                        expresă
                        sau tacită. În măsura în care legea permite, în legătură cu disponibilitatea, exactitatea, gradul de
                        încredere și conținutul acestor pagini nu se acordă niciun fel de garanţie, explicită sau implicită,
                        inclusiv, dar fără limitare la garanții de proprietate sau de neîncălcare a drepturilor sau garanții
                        implicite de vandabilitate sau de oportunitate în raport cu un anumit scop, de lipsă a virușilor
                        internet sau garanții pentru procesul de comercializare sau îndeplinire a obligațiilor. Nu garantăm
                        că
                        funcționarea website-ului va fi neîntreruptă sau lipsită de erori, ca defecțiunile vor fi corectate
                        sau
                        ca website-ul sau serverul este lipsit de viruși sau alte softuri dăunătoare. De asemenea, nu putem
                        oferi garanții în legătură cu utilizarea materialelor de pe acest website, în sensul integralității
                        lor,
                        corectitudinii, acurateții, adecvării, utilității, potrivirii în timp sau fiabilității materialelor.
                        În
                        măsura permisă de lege, dvs. vă asumați costul reparațiilor sau corecțiilor.</p>


                    <h3>LIMITAREA RĂSPUNDERII</h3>
                    <p>Nu vom fi în nicio situație responsabili față de nicio parte pentru orice daune directe, indirecte,
                        speciale sau alte tipuri de daune rezultante referitoare la utilizarea acestui site web, ca de
                        exemplu,
                        dar fără a se limita la, orice pierderi de profit, întreruperea afacerilor sau pierderea de date,
                        chiar
                        dacă partea nu este avertizată în mod expres asupra posibilităților unor astfel de daune, care reies
                        dintr-un contract, neglijența sau altele, în legătură cu utilizarea sau imposibilitatea de utilizare
                        a
                        informațiilor, serviciilor, produselor sau oricăror materiale din acest Site. Aceste limitări se vor
                        aplica în ciuda oricăror defecțiuni sau reparații parțiale. Pentru a înlătura orice îndoială, nicio
                        prevedere nu va fi interpretată ca limitând răspunderea noastră pentru daunele corporale cauzate
                        persoanelor prin neglijența noastră.</p>


                    <h3>DESPĂGUBIRI</h3>
                    <p>Sunteți de acord să ne despăgubiți, apărați si susțineți, împreună cu angajații, agenții, furnizorii,
                        colaboratorii noștri, pentru orice prejudiciu, cheltuială, daună, costuri, inclusiv cheltuielile
                        rezonabile cu servicii juridice și taxe judiciare, ce rezultă din încălcarea Termenilor și
                        Condițiilor prezente sau orice activitate legată de contul dvs. de internet (inclusiv, dar fără a se
                        limita la, neglijență sau intenție), activitate îndeplinită de dvs. sau de orice altă persoană care
                        accesează Site-ul utilizând contul dvs.</p>

                    <h3>TITLURI ȘI VALORI MOBILIARE</h3>
                    <p>Nu acordăm sfaturi legate de investiții prin acest Website, iar materialele din acest Website nu ar
                        trebui percepute ca oferte de a vinde sau cereri de oferte legate de valori mobiliare Mondelēz
                        International Inc. Dacă decideți să utilizați orice material de pe Website pentru a achiziționa sau
                        vinde titluri Mondelēz International Inc, vă rugăm să fiți conștient că materialele de pe site
                        reflectă
                        performanțele companiei din trecut si informații istorice, ceea ce nu reprezintă în mod necesar un
                        indicator pentru performanțele viitoare.</p>

                    <h3>LINKURI CĂTRE ALTE SITE-URI</h3>
                    <p>Acest Site poate pune la dispoziție accesul la alte website-uri. Nu controlăm aceste alte
                        website-uri,
                        așadar dvs. le accesați pe propria dvs. răspundere. De asemenea, nu promovăm și nu ne însușim niciun
                        produs sau informație oferite pe aceste site-uri. Vă rugăm să verificați bara de adrese din partea
                        de
                        sus a browserului pentru a verifica dacă vă aflați încă pe Site-ul nostru sau ați migrat către un
                        altul.</p>


                    <h3>JURISDICȚIE</h3>
                    <p>Site-ul este conceput pentru a fi utilizat în România; de aceea nu garantăm că materialele de pe Site
                        sunt potrivite pentru utilizare în alte teritorii. Dacă se utilizează acest website dintr-o locaţie
                        din afara României, utilizatorul este singurul responsabil pentru respectarea oricăror legi locale
                        aplicabile. Orice reclamaţie privind website-ul sau utilizarea acestuia este guvernată de legile din
                        România şi jurisdicţia şi legea aplicabilă în orice acţiune legală generată direct sau indirect din
                        sau în legătură cu acest website va aparţine instanţelor judecătoreşti române situate în București,
                        România.</p>

                    <h3>MODIFICAREA WEBSITE-ULUI ŞI TERMENILOR SĂI PRIVIND UTILIZAREA</h3>
                    <p>Prin punerea la dispoziție a materialelor de pe acest Site nu vă garantăm că ele vor rămâne
                        disponibile
                        dvs. în orice moment. De asemenea, Mondelez România îşi rezervă dreptul de a modifica termenii,
                        condiţiile privind utilizarea acestui website în orice moment actualizând prezentele condiții, iar
                        utilizarea website-ului după aceste modificări implică consimţământul utilizatorilor faţă de
                        termenii
                        modificaţi. Sunteți de acord să verificați în mod regulat acești Termeni pentru a vă asigura că nu
                        s-au
                        modificat.</p>

                    <h3>ÎNCETAREA ACESTUI CONTRACT</h3>
                    <p>Această înțelegere între părți este valabilă până când Părțile o vor înceta de comun acord. Dvs.
                        puteți
                        denunța contractul în orice moment distrugând materialele obținute de pe Site, toată documentația și
                        toate copiile și elementele instalate. Noi putem denunța unilateral contractul în orice moment, fără
                        notificare către dvs., dacă vom considera ca ați încălcat prevederile acestui contract. La încetarea
                        contractului, este necesar să distrugeți toate materialele și să încetați să accesați Site-ul.</p>

                    <h3>DIVERSE</h3>
                    <p>Dacă orice prevedere din acest Contract este ilegală, nulă sau lipsită de efecte, restul celorlalte
                        prevederi rămân complet aplicabile. Prezentul Contract reprezintă întreaga înțelegere între Părți cu
                        privire la utilizarea prezentului Site.</p>
                </div>
            </section>
            <div class="bot-img">
                <img src="images/desktop-yellow-bottom-image.png" alt="carousel desktop" class="desktop">
                <img src="images/mobile-yellow-bottom-image.png" alt="carousel mobile" class="mobile">
            </div>


        </main>
        <!-- start:: Footer -->

        {% include 'reusable_templates/footer.html.twig' %}

        <!-- end:: Footer -->

    {% endblock %}
