@font-face {
    font-family: 'ROM Averia Sans Libre';
    src: url('ROMAveriaSansLibre-Bold.eot');
    src: url('ROMAveriaSansLibre-Bold.eot?#iefix') format('embedded-opentype'),
        url('ROMAveriaSansLibre-Bold.woff2') format('woff2'),
        url('ROMAveriaSansLibre-Bold.woff') format('woff'),
        url('ROMAveriaSansLibre-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

